{% extends "tank/base.html" %}

{% block head %}
<style>
    [class*="col-"] {
      padding: 10px 20px;
    }

    .event{
      background-color: white;
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
      border-radius: 5px;
      box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
      margin-bottom: 50px;
    }

    .date{
      font-weight: bold;
      font-size: 1.2rem;
    }
    .time{
      float: right;
      font-style: italic;
    }

    .label{
      font-weight: bold;
      text-align: right;
    }

    .delete a {
      color: rgba(255, 0, 0, 0.548);;
      text-decoration:none;
      padding: 15px;
      transition: 1s;
      float: right;
      display: block;
      width: 120px;
      text-align: center;
    }

    .delete a:hover {
      color: white;
      text-decoration:none;
      background-color: rgba(255, 0, 0, 0.6);
      padding: 15px;
    }

    .price{
      font-size: 1.5rem;
      font-style: italic;
      text-align: right;
      padding-right: 20px;
    }

    .service{
      background-color: rgba(255, 255, 0, 0.4);
    }

    .service-note{
      font-weight: bold;
      text-align: center;
      font-size: 1.5rem;
    }

    #previous-events .time span{
        padding: 0;
        margin: 0;
    }

    @media screen and (max-width: 576px) {
      .label, #previous-events span, .date, .time  {
        text-align: center;
        width: 100%;
        display: block;
        float: none;
      }

      #previous-events .time span{
        display: inline;
      }

      .date{
        font-size: 2rem;
      }

      [class*="col-"] {
        padding: 0px;
      }
      .row{
        margin-bottom: 15px;
      }   
    }

  </style>
{% endblock %}

{% block main %}
<div id="previous-events" class="container">
  {% if events.0 == None %}
  <h1>Még nincs egy eseményed sem!</h1>
  {% else %}
    {% for event in events %}
    {% if event.to_class_name == 'TankEvent' %}
    <div class="event">
      <div class="row">
        <div class="col-sm-6">
          <span class="date">{{ event.date|date:"Y.m.d." }}</span>
        </div>
        <div class="col-sm-6">
          <span class="time">
            {{ event.date|date:"H:i"}}
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 label">
          Km óra állása:
        </div>
        <div class="col-sm-6">
          <span class="mileage">{{ event.km }}km</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 label">Tankolt üzemanyag:</div>
        <div class="col-sm-6">
          <span>{{ event.petrol_quantity_liter }}l</span><br>
          <span>({{ event.petrol_type }}, {{ event.petrol_station }})</span>
  
        </div>
      </div>
      <div class="row">
        <span class="price">{{ event.price_ft}} Ft</span>
      </div>
      <div class="row delete">
        <div class="col">
          <a href="{% url 'delete_event' event.to_class_name event.id %}">Törlés</a>
        </div>
      </div>

    </div>
    {% else %}
      {% if event.to_class_name == 'ServiceEvent' %}
    <div class="event service">
      <div class="row">
        <div class="col-sm-6">
          <span class="date">{{ event.date|date:"Y.m.d." }}</span>
        </div>
        <div class="col-sm-6">
          <span class="time">
            {{ event.date|date:"H:i"}}
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 label">
          Km óra állása:
        </div>
        <div class="col-sm-6">
          <span class="mileage">{{ event.km }}km</span>
        </div>
      </div>
      <div class="row">
        <div class="col service-note">{{ event.note }}</div>
      </div>
      <div class="row">
        <span class="price">{{ event.price_ft}} Ft</span>
      </div>
      <div class="row delete">
        <div class="col">
          <a href="{% url 'delete_event' event.to_class_name event.id %}">Törlés</a>
        </div>
      </div>
    </div>
      {% endif %}
    {% endif %}
    {% endfor %}
  </div>
  {% endif %}
{% endblock %}

{% block script %}
{% endblock %}